#navigation-container{

}
#navigation-container .row {
  padding-top: 1em;
  padding-bottom: 1em;
}
#navigation-container .site-item {
  background-color: #ffffff;
}

.site-item {
  text-align: center;
  padding-top: 2em;
  /*padding-bottom: 0.5em;*/
}
.site-icon {
  margin: auto;
  width: 4em;
  height: 4em;
  /*border : 1px solid #cccccc;*/
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.site-icon img{
  width: 100%;
}
a .site-name {
  color: rgba(34, 34, 34, 0.78);
  padding-top: 0.5em;
  text-decoration: none;
}
a:link .site-name, a:active .site-name, a:visited .site-name { text-decoration:none}
a:hover {
  text-decoration: none;
}
.site-item-add .site-icon{
  position: relative;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #cccccc;
  box-shadow: none;
}
.site-item-add .site-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 0.2em;
  margin-top: -0.1em;
  margin-left: -1em;
  background-color: #cccccc;
}
.site-item-add .site-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -0.1em;
  background-color: #cccccc;
}
#shadow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}
