/*列表尺*/
.index-list-item{
    position: relative;

    height: 300px;
}

/*背景图片*/
.background-img{
    width: 100%;
    height: auto;
    z-index: -1;
}

/*标题*/
.index-list-title{
    position: absolute;
    left: 40px;
    bottom: 20px;

    color: white;
    font-size: 40px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}